fastapi
uvicorn[standard]
requests
pandas
scikit-learn
joblib
sentence-transformers
faiss-cpu
numpy
python-dotenv
transformers
pydantic
sqlalchemy
alembic
pytest
pytest-asyncio
httpx
torch
psycopg2-binary
huggingface_hub==0.10.0
python-multipart
requests>=2.28.0
ollama