fastapi
uvicorn[standard]
requests
pandas
scikit-learn
joblib
sentence-transformers
faiss-cpu
numpy
python-dotenv
transformers
pydantic
sqlalchemy
alembic
pytest
pytest-asyncio
pytest-cov
pytest-mock
httpx
torch
ollama
tensorflow>=2.15.0
tf-keras
pillow
opencv-python
pyzbar
pytest-env
python-multipart
pytest-timeout
mypy
types-requests
types-python-dateutil
types-PyYAML
types-protobuf
aiosqlite
passlib[argon2]
argon2-cffi
python-jose[cryptography]